@model IEnumerable<ClinicBookingSystemAPP.Models.Patient>

@{
    ViewData["Title"] = "Patients List";
}

<link rel="stylesheet" href="~/css/PatientIndex.css" />



<p>
    <a asp-action="Create" class="btn-custom">Add New Patient</a>
</p>

<table class="patients-table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.FullName</td>
                <td>@patient.Phone</td>
                <td>@patient.Email</td>
                <td>
                    <a asp-action="Details" asp-route-id="@patient.Id" class="action-link details">Details</a>
                    <a asp-action="Edit" asp-route-id="@patient.Id" class="action-link edit">Edit</a>
                    <a asp-action="Delete" asp-route-id="@patient.Id" class="action-link delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>